*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 1140px;
}

.result {
  width: 711px;
}

.result__video-container {
  position: relative;
  height: 386px;
  width: 711px;
  margin-bottom: 16px;
}

.result__video-container video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.content__details {
  width: 399px;
}

.content__list-container {
  position: relative;
  height: 298px;
  overflow: auto;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 6px 73px;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.search-form__textfield {
  width: 225px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  color: #fff;
  font-family: inherit;
  font-size: 18px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 70%);
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__submit-button {
  align-self: flex-end;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.search-form__textfield:focus,
.search-form__checkbox:focus {
  outline: none;
}


.search-form__label:has(.search-form__checkbox:focus-visible),
.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.content__accent {
  color: #545050;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding-right: 4px;
}

.content__card-link {
  color: inherit;
  text-decoration: none;
  display: block;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__card-link:active .content__video-card {
  background-color: #545050;
}

.content__card-link_current .content__video-card {
  background-color: #545050;
}

.content__video-card-description-container {
  max-width: 196px;
  padding-top: 4px;
  padding-left: 2px;
}

.content__card-link:hover {
  text-decoration: underline solid 1px;
  text-underline-offset: 2px;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 16px;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
}

.more-button {
  width: 100%;
  margin-top: 30px;
}
